<ion-header>
    <ion-toolbar>
      <ion-title>
        About
      </ion-title>
      <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card class="welcome-card bg-content">
      <ion-card-header>
        <ion-card-title color="primary">Aplikasi Pendataan Jemaat Gereja</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aplikasi ini adalah project untuk memenuhi Ujian Akhir Semester(UAS) Mata Kuliah Pemograman Perangkat Bergerak.</p>
        <P>Institut Teknologi dan Bisnis Indonesia.</P>
          
      </ion-card-content>
    </ion-card>
    </ion-content>
  