<ion-header>
  <ion-toolbar>
    <ion-title>
     PENDATAAN JEMAAT GEREJA
    </ion-title>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="welcome-card bg-content">
    <ion-card-header>
      <ion-card-title color="primary">Aplikasi Pendataan Jemaat Gereja</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aplikasi ini digunakan untuk pendataan Jemaat Gereja Kemenangan Iman Indonesia.</p>
      
    </ion-card-content>
  </ion-card>
  </ion-content>
